.btn{
	
	padding: 5px 10px;
	background-color:slategrey;
	text-decoration: none;
	color: #fff;
	border-radius: 5px;
}

.btn:hover{
	background-color:lightslategrey;
}

.btn:active{
	background-color:#336699;
}
